<app-card extraClass="productDetail">
  <section class="productDetailContainer">
    <div class="goBackButton">
      <img src="assets/images/arrow_left.svg"/>
      <span>VOLTAR</span>
    </div>
    <div class="contentContainer">
      <div class="imagePriceContainer">
        <div class="productImage">
          <img
            width="500"
            [src]="getProductImageOrPlaceholder(product)"
            alt="image"
          />
        </div>
        <div class="namePrice">
          <strong>{{ product.name }}</strong>
          <p>
            <span class="currencySymbol">R$</span>
            <span class="productPriceText">{{ product.price }}</span>
          </p>
        </div>
      </div>
      <div class="productDescription">
        <h3>Descrição do Produto</h3>
        <p>{{ product.description }}</p>
      </div>
    </div>
  </section>
</app-card>
