<app-card>
  <section class="homeContainerSection">
    <div class="logoHomeContainer">
      <img src="../../../assets/images/home_logo.svg" alt="Logo" />
    </div>
    <div class="homeContentContainer">
      <strong class="homeTitleText">
        <p>Conheça o melhor</p>
        <p>catálogo de produtos</p>
      </strong>
      <div class="homeBottomText">
        Ajudaremos você a encontrar os melhores produtos disponíveis no mercado.
      </div>
      <app-arrow-button buttonText="Inicie agora sua busca"></app-arrow-button>
    </div>
  </section>
</app-card>
