@import "./../../../../styles.scss";

.container {
  background-color: var(--white);
  .btn {
    display: flex;
    align-items: center;
    margin: 10.5px;
    border-radius: 100px;
    height: 49px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.015em;
    color: var(--gray2);
    background-color: var(--blue1);
    border: none;

    &.active{
      background: rgba(64, 123, 255, 0.3);
      color: var(--primaryColor);
    }
  }
}
