.home-container {
  padding: 10px;
  font-size: 26px;
  border: 1px solid red;
  text-align: center;

  h1 {
    font-size: 1em;
  }

  .home-card {
    display: flex;
    flex-direction: column-reverse;
    background-color: $white;
    box-shadow: 0px 4px 20px #00000040;
    border-radius: 20px;
    border: 1px solid orange;
    padding: 10px;

    .home-image-container {
      padding: 50px 15px;
      .home-logo-image {
        width: 100%;
        height: auto;
      }
    }
  }
}
