/* You can add global styles to this file, and also import other style files */
@import "./assets/fonts/fonts.scss";

//variables sass, needs import
$breakpointDesktop: 992px;

//global variables
:root {
  --fontRegular: "SansRegular";
  --fontBold: "SansBold";
  --fontLight: "SansLight";

  --primaryColor: #407bff;
  --primaryColor2: #25cbd3;
  --primaryColor3: #f0f5ff;

  --gray1: #263238;
  --gray2: #9e9e9e;
  --blue1: #f2f2f2;
  --white: #fff;
  --red: #df5753;

  --breakpointDesktop: "992px";
}

* {
  font-family: var(--fontRegular);
  font-size: 14;
}

html,
body {
  margin: 0;
  border: 0;
  height: 100%;
}

body {
  @media screen and (min-width: $breakpointDesktop) {
    // background-color: var(--gray);
    // background-image: url("/assets/images/fundoDesktop.svg");
    // background-position: center;
    // background-size: cover;
  }
}

.hidden {
  display: none !important;
}

.desktop {
  display: none;
  @media screen and (min-width: $breakpointDesktop) {
    display: block;
  }
}

.mobile {
  display: block;
  @media screen and (min-width: $breakpointDesktop) {
    display: none !important;
  }
}

.flexColumn{
  flex-direction: column;
}
