@font-face {
    font-family: 'SansRegular';
    src: url('OpenSans-Medium.ttf');
}

@font-face {
    font-family: 'SansLight';
    src: url('OpenSans-Light.ttf');
}

@font-face {
    font-family: 'SansBold';
    src: url('OpenSans-Bold.ttf');
}
