@font-face {
  font-family: "Open Sans Bold";
  src: url("OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("OpenSans-Medium.ttf");
}

@font-face {
  font-family: "Open Sans Light";
  src: url("OpenSans-Light.ttf");
}