$theme-colors: (
  "primary": #407bff,
);

$fontRegular: "Open Sans Regular";
$fontBold: "Open Sans Bold";
$fontLight: "Open Sans Light";

$white: #fff;

$body-bg: #e5e5e5;
$body-color: #263238;

$gray1: #ffffff80;

$desktopBreakpoint: 992px;